<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <% include ../partials/header %>

    <section class="container mt-4 mb-4">
        <div class="container">
            <div class="row mb-6">
                <div class="col-md-8">
                    <div class="d-flex flex-row border rounded">
                          <div class="p-0 w-25">
                              <img src="/images/<%=itemList[0].userImage%>" class="img-thumbnail border-0" />
                              
                          </div>
                          <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                              <h4 style="font-size:20px" class="text-dark"><strong><%=itemList[0].name%></strong></h4>
                              <h5 style="font-size:16px" class="text-primary"><i class="fa fa-envelope"></i>&nbsp<%=itemList[0].email%></h5>
                      <h3 style="font-size:18px" class="text-muted"><i class="fa fa-map-marker"></i>&nbsp<%=itemList[0].location%></h3>
                      <h3 style="font-size:16px"><strong>Lesson Taught:</strong> <%=itemList[0].lessons%></h3>                                                                                         
                      <a href="/Indprofile/<%=itemList[0].id%>"> 
                      <button type="button" class="btn btn-info">&nbsp&nbsp&nbsp&nbsp&nbspView Instructor&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                      </a>
                  </div>
                      <br>
                    </div>
                </div>
            </div>
        </div>
        </section>

    <% include ../partials/footer %>
   
</body>