<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
 
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/payment.css'/>
 
</head>

<body>
    <% include ../partials/header %>
    <div class="wrapper" style="width: 100%; overflow: hidden;">
<div class="cardDetails">
    <form action="/insertCard" method="POST">
        <fieldset class="form-group">
            <label for="inputCardNumber"> E-mail </label>
            <input type="text" id="inputCardNumber" name="cardNumber" style="float: left;" class="form-control" placeholder="E-mail" onchange="cardNumValidation(this.value);" required="true">
            <p id="cardNumValidateText" style="float: right;"></p>
        </fieldset>
        <fieldset class="form-group">
            <label for="inputCardholder"> Phone Number </label>
            <input type="text" id="inputCardholder" name="cardholder" class="form-control" placeholder="Phone Number" required="true">
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary"> Confirm Order </button>
            <button type="button" class="btn btn-secondary"> Back </button>
        </div>

    </form>
</div>

<div class="itemDetails">
    <table class="items">
        <% for(var i=0; i < cartItemList.length; i++){ %>
            <tr class="rowRecord" data-id="<%= cartItemList[i].id %>">
                <td class="productImage">
                    <div class="imgBorder">
                        <img src = "images/<%= cartItemList[i].product_image %>" class="productImg" />
                    </div>
                </td>
                <td class="productName">
                    <strong><%= cartItemList[i].product_name %></strong> <br>
                    <%= cartItemList[i].product_type %>
                </td>
                <td class="pricing">
                    $<%= cartItemList[i].product_price %>
                </td>
            </tr>
        
        <% } %>
    </table>
    <table class="total">
        <tr>
            <td class="textTotal">
                Total
            </td>
            <td class="totalPrice">
                        
            </td>
        </tr>
    </table>
</div>
        </div>
       
</body>

<script>
var totalPrice = 0;
var pricing = document.getElementsByClassName('pricing');
for (i=0; i<pricing.length; i++) {
    price = document.getElementsByClassName('pricing')[i].innerHTML;
    price = price.trim();
    price = price.substr(1);
    price = parseInt(price);
    totalPrice += price;
    console.log(pricing);
}
console.log(totalPrice);
$('.totalPrice').text("$" +totalPrice);

function cartClear() {
    $.ajax({
        url: 'http://localhost:3000/payment/cartDelete',
        type: 'DELETE',
        success: function (result) {
          console.log(result.message);
          location.href = "http://localhost:3000/transactions";
        },
        error: function (result) {
          alert("Unable to delete Product record.");
          console.log(result.message);
        }
      });
}

function updateCartCount() {
    var toZero = {
        newCartCount: 0
    }
    $.ajax({
        url: 'http://localhost:3000/payment/cartCountUpdate',
        type: "POST",
        data: JSON.stringify(toZero),
        contentType: "application/json",
        success: function(result) {
            alert("Calling cart delete...");
            var itemCount = 0;
            $("#cartItemCount").text(itemCount);
            cartClear();
        },
        error: function(result) {
            alert("Failed to update cart count");
            console.log(result.message);
        }
    })
}

function createTransaction() {
    var transaction_id = $('.transactionId').text().trim();
    var url = "<%=hostPath%>" + '/' + 'transaction';
    var Records = {
        cartPricing: totalPrice
    }
    console.log(Records.cartPricing);
    $.ajax({
        url: url,
        type: "POST",
        data: JSON.stringify(Records),
        contentType: "application/json",
        success: function(result){
            alert("Added successfully");
            updateCartCount();
        },
        error: function(result){
            alert("Unsuccessful");
            location.href = "<%=hostPath%>"
      }
    });
  };

  $("form").submit(function(e) {
    e.preventDefault();
    var url = "<%=hostPath%>" + '/' + 'deductAmt';
    console.log(url);   
    var Records = {
        cartPricing: totalPrice
    }
    console.log(Records.cartPricing);
    $.ajax({
        url: url,
        type: "POST",
        data: JSON.stringify(Records),
        contentType: "application/json",
        success: function(result){
            alert("Added successfully");
            createTransaction();
        },
        error: function(result){
            alert("Unsuccessful");
            location.href = "<%=hostPath%>"
      }
    });
  });



</script>
</html>